<?xml version="1.0" encoding="UTF-8"?>

<configuration>
	<include resource="org/springframework/boot/logging/logback/defaults.xml"/>
	<include resource="org/springframework/boot/logging/logback/console-appender.xml"/>

	<property name="QUERY_LOG_DIR" value="${PSP_QUERY_LOG_DIR:-logs}"/>

	<appender name="QUERY_LOG" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${QUERY_LOG_DIR}/query.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>${QUERY_LOG_DIR}/query.%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
		</rollingPolicy>
		<encoder>
			<pattern>{"ts":"%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX}",%replace(%msg){'^\{|\}$',''}}%n</pattern>
		</encoder>
	</appender>

	<appender name="QUERY_LOG_ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<queueSize>8192</queueSize>
		<discardingThreshold>0</discardingThreshold>
		<appender-ref ref="QUERY_LOG"/>
	</appender>

	<logger name="psp.querylog" level="INFO" additivity="false">
		<appender-ref ref="QUERY_LOG_ASYNC"/>
	</logger>

	<root level="INFO">
		<appender-ref ref="CONSOLE"/>
	</root>
</configuration>
